fieldset {
  display: flex;
  flex-direction: column;
  padding: 15px 12px;
  max-width: 750px;
  gap: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  margin: 10px auto;
  opacity: 1;
  transition: height 500ms ease-in-out, opacity 500ms ease-in-out;
  overflow: hidden;
  input, select {
    min-height: 20px;
    background-color: transparent;
  }
}

.task-form-title {
  font-weight: bold;
}

.optional-input input, select{
  margin-right: 15px;
  margin-left: 5px;
  height: 24px;
  padding: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.action-buttons {
  margin-left: auto;
  button {
    height: 30px;
    width: 60px;
    margin: 0 2px;
    border: 0;
    border-radius: 3px;
    transition: background 300ms ease;
  }
  button:hover {
    cursor: pointer;
  }
}

.cancel-button {
  background-color: rgba(128, 128, 128, 0.25);
}
.cancel-button:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.submit-button {
  background-color: rgb(158, 231, 158);
}
.submit-button:hover {
  background-color: rgb(106, 226, 106);
}

#task-title, #task-description {
 border: 0;
 font-size: 1rem; 
 &:focus {
  outline: none;
 }
}


