fieldset {
  display: flex;
  flex-direction: column;
  padding: 15px 12px;
  gap: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  input, select {
    min-height: 20px;
  }
}

.task-form-title::placeholder {
  font-weight: bold;
}

.optional-input input, select{
  margin-right: 15px;
  margin-left: 5px;
}

.action-buttons {
  margin-left: auto;
  button {
    height: 30px;
    width: 60px;
    margin: 0 2px;
    border: 0;
    border-radius: 3px;
    transition: background 300ms ease;
  }
  button:hover {
    cursor: pointer;
  }
}

.cancel-button {
  background-color: rgba(128, 128, 128, 0.25);
}
.cancel-button:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.submit-button {
  background-color: rgb(158, 231, 158);
}
.submit-button:hover {
  background-color: rgb(106, 226, 106);
}
