@import '../../index.scss';

.project-nav-item {
  color: $tertiary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding-left: 8px;
  &:hover {
    color: $tertiary-muted;
  }
  p {
    margin: 8px 0;
    font-size: 1rem;
    &.selected {
      color: #a1a2ce;
    }
  }
  input {
    margin: 8px 0;
    padding: 3px 0;
    width: 150px;
    border: 0;
    background-color: $secondary;
    color: $tertiary;
    font-size: 0.9em;
    border-radius: 4px;
    padding-left: 5px;
  }
  input:focus {
    outline: none;
  }
  button {
    padding: 4px 5px;
    background-color: $logo-color;
    border: 0;
    border-radius: 4px;
  }
  button:hover {
    cursor: pointer;
  }
  button:active {
    transform: scale(0.95);
    outline: 1px solid rgba(0, 0, 0, 0.438);
  }
  .remove-project {
    background-color: transparent;
    color: #7DABCA;
    transition: background 300ms ease-out;
  }
  .remove-project:hover {
    background-color: $secondary;
  }
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.nav-bar {
  background-color: $primary-color;
  min-width: 250px;
  min-height: 100vh;
  padding: 0 10px;
  transition: margin 500ms ease;
    div {
      opacity: 1;
      transition: opacity 500ms ease;
    }
  .add-project {
    display: flex;
    align-items: center;
    height: 40px; 
    color: $secondary;

    input {
      background-color: $secondary;
      font-weight: 500;
      color: $tertiary;
      border-radius: 4px;
      height: 25px;
      border: 0;
      &::placeholder {
        color: $secondary-muted;
      }
      &:focus {
        outline: none;
      }
    }

    p:hover {
      cursor: pointer;
      color: $secondary-muted;
    }

    :first-child {
      text-align: center;
      box-sizing: border-box;
      margin: 20px 10px;
      width: 100%;
    }
  }
  &.collapsed {
    margin-left: -220px;
    div {
      opacity: 0;
      pointer-events: none;
    }
    button {
      pointer-events: none;
    }
    .navHeader {
      border-bottom: 1px solid rgba(128, 128, 128, 0);
    }
  }
}

.navHeader {
  display: flex;
  align-items: center;
  color: $logo-color;
  justify-content: space-between;
  height: 50px;
  padding: 15px 5px;
  border-bottom: 2px solid #7c80a433;
  transition: 500ms ease-in-out;
  h1 {
    font-size: 1.8rem;
  }
  img {
    width: 26px;
    transition: transform 700ms ease-out;
  }
  img:hover {
    cursor: pointer;
  }
  img.open {
    transform: rotate(360deg);
  }
}
