@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$logo-color: rgb(129, 133, 161);
$primary-color: #11202A;
$secondary: #505A61;
$secondary-muted: #8F9497;
$tertiary: #BDC1C2;
$tertiary-muted: #EAEDED;

body {
  font-family: Rubik;
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0;
}

#root {
  display: flex;
}

main {
  flex: 1;
  background-color: $tertiary-muted;
  color: $primary-color;
}
